<page-header [title]="title" [breadcrumb]="breadcrumb">
  <ng-template #title> {{ user?.name }} 用户行为 </ng-template>
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['/group/group-manage']">分群</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>用户行为</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>
<div nz-row nzGutter="32">
  <nz-col nzXs="16">
    <div sg-container="2">
      <sg>
        <nz-card nzTitle="行为统计">
          <g2-bar height="200" [title]="'用户行为'" [data]="eventStatistic"></g2-bar>
        </nz-card>
      </sg>
      <sg>
        <nz-card nzTitle="用户标签">
          <g2-tag-cloud [data]="userTags" [height]="200"></g2-tag-cloud>
        </nz-card>
      </sg>
    </div>

    <nz-card nzTitle="行为序列">
      <nz-timeline>
        <nz-timeline-item *ngFor="let event of events">
          <nz-collapse>
            <nz-collapse-panel [nzHeader]="headerTpl" [nzExtra]="extraTpl">
              <sv-container col="2" [labelWidth]="100">
                <sv label="平台" *ngIf="event.platform">{{ event.platform }}</sv>
                <sv label="应用版本" *ngIf="event.appVersion">{{ event.appVersion }}</sv>
                <sv label="页面标题" *ngIf="event.eventMsg.xcontext.producttype_list">{{
                  event?.eventMsg?.xcontext?.producttype_list
                }}</sv>

                <sv label="设备品牌" *ngIf="event.brand">{{ event.brand }}</sv>
                <sv label="设备型号" *ngIf="event.model">{{ event.model }}</sv>
                <sv label="操作系统" *ngIf="event.os">{{ event.os }}</sv>
                <sv label="操作系统版本" *ngIf="event.osVersion">{{ event.osVersion }}</sv>
                <sv label="渠道来源" *ngIf="event.channel">{{ event.channel }}</sv>

                <sv label="网络类型" *ngIf="event.network">{{ event.network }}</sv>
                <sv label="屏幕宽度" *ngIf="event.screenWidth">{{ event.screenWidth }}</sv>
                <sv label="屏幕高度" *ngIf="event.screenHeight">{{ event.screenHeight }}</sv>
                <sv label="IP" *ngIf="event.ip">{{ event.ip }}</sv>
              </sv-container>
            </nz-collapse-panel>
          </nz-collapse>
          <ng-template #headerTpl>
            <ng-container [ngSwitch]="event.eventMsg.xwhat">
              <span *ngSwitchCase="'$pageview'"> 浏览页面: {{ event?.eventMsg?.xcontext?.producttype_list }} </span>
              <span *ngSwitchCase="'$startup'"> 启动 </span>
              <span *ngSwitchCase="'login'"> 用户登录 </span>
              <span *ngSwitchCase="'remittanceweixininfo'">资金_微信汇款_信息完善</span>
              <span *ngSwitchCase="'financialpay'">理财_理财产品购买支付</span>
              <span *ngSwitchCase="'$end'">关闭</span>
              <span *ngSwitchCase="'$openaccountprepare'">关闭</span>
              <span *ngSwitchDefault>其他</span>
            </ng-container>
          </ng-template>
          <ng-template #extraTpl>
            {{ event.eventTime | date: 'yyyy-MM-dd hh:mm:ss' }}
          </ng-template>
        </nz-timeline-item>
      </nz-timeline>
    </nz-card>
  </nz-col>
  <nz-col nzXs="8">
    <nz-card nzTitle="用户信息">
      <sv-container col="4" *ngIf="user" col="1" [labelWidth]="100">
        <sv label="用户ID">{{ user.id }}</sv>
        <sv label="用户姓名">{{ user.name }}</sv>
        <sv label="用户性别">{{ user.gender }}</sv>
        <sv label="用户年龄">{{ user.age }}</sv>
        <sv label="用户职位">{{ user.occupation }}</sv>
        <sv label="用户学历">{{ user.education }}</sv>
        <sv label="用户手机">{{ user.phone }}</sv>
        <sv label="用户邮箱">{{ user.email }}</sv>
        <sv label="所在国家">{{ user.country }}</sv>
        <sv label="所在省份">{{ user.province }}</sv>
        <sv label="所在城市">{{ user.city }}</sv>
        <sv label="注册时间">{{ user.signupTime | date }}</sv>
        <sv label="首次访问时间">{{ user.firstVisitTime | date }}</sv>
        <sv label="最后访问时间">{{ user.lastVisitTime | date }}</sv>
        <sv label="累积访问天数">{{ user.sumVisitDay }}</sv>
        <sv label="下载渠道">{{ user.channel }}</sv>
      </sv-container>
    </nz-card>
  </nz-col>
</div>
